.snowflake {
	position: absolute;
	left: -1px;
	top: -1px;
	z-index: 10;
	display: block;
	font-size: 8pt;
	text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.50);
	font-family: "Arial Unicode MS", "DejaVu Sans", "DejaVu Serif", Helvetica, sans;
	color: white;
}
