.snowflake {
	position: absolute;
	left: -1px;
	top: -1px;
	z-index: 10;
	display: block;
	color: white;
}

.snowflake-animation-0 {
	-webkit-transition: -webkit-transform 20s linear;
	-moz-transition: -moz-transform 20s linear;
}

.snowflake-animation-1 {
	-webkit-transition: -webkit-transform 30s linear;
	-moz-transition: -moz-transform 30s linear;
}

.snowflake-animation-2 {
	-webkit-transition: -webkit-transform 10s linear;
	-moz-transition: -moz-transform 10s linear;
}

.snowflake-animation-3 {
	-webkit-transition: -webkit-transform 23s linear;
	-moz-transition: -moz-transform 23s linear;
}

.snowflake-animation-3 {
	-webkit-transition: -webkit-transform 32s linear;
	-moz-transition: -moz-transform 32s linear;
}

.snowflake-small-animation {
	/* nothing */
}

.startRotate {
	-webkit-transform: rotate(360deg);
	-moz-tranform: rotate(360deg);
}

.startRotate-2 {
	-webkit-transform: rotate(-360deg);
	-moz-tranform: rotate(-360deg);
}

.endRotate {
	-webkit-transform: rotate(0deg);
	-moz-tranform: rotate(0deg);
}
